<div>
    <form [formGroup]="customerCreateUpdateForm">
        Value: {{customerCreateUpdateForm.value | json}}

        <br>
        <mat-form-field class="form-row">
            <mat-label>User ID (Read-Only)</mat-label>
            <input matInput readonly formControlName="userID">
        </mat-form-field>
    
        <br>
        <mat-form-field class="form-row">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your First Name" formControlName="firstName" required>
        </mat-form-field>

        <br>
        <mat-form-field class="form-row">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter your Last Name" formControlName="lastName" required>
        </mat-form-field>
        
        <br>
        <mat-form-field class="form-row">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="email.invalid && email.touched"> Email doesn't look correct</mat-error>
        </mat-form-field>

        <br>
        <mat-form-field class="form-row">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Enter your Phone Number" formControlName="phoneNo" required>
            <mat-error *ngIf="phoneNo.invalid && phoneNo.touched"> Phone Number must be a 10 digit number</mat-error>
        </mat-form-field>

        <br>
        <mat-form-field class="form-row">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Enter your Address" formControlName="address" required>
        </mat-form-field>

        <br>
        <mat-form-field class="form-row">
            <mat-select placeholder="Select Type" formControlName="type" required>
            <mat-option value="lead">Lead</mat-option>
            <mat-option value="client">Client</mat-option>
            <mat-option value="formerClient">Former Client</mat-option>
            <mat-option value="coldCall">Cold Call</mat-option>
            </mat-select>
            <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
        </mat-form-field>
    
        <br>
        <button mat-raised-button [disabled]="customerCreateUpdateForm.invalid" color="primary"> Submit </button>
    </form>
</div>